.app {
  display: flex;
  padding: 30px;
}

.game-wrapper{
  height: 1136px;
width: 640px;
background-color: antiquewhite;
text-align: center;
/* position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; */
 
  transform-origin: left top;
}

.match-three{

}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}